<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Info</title>
</head>
<body>
<h1 style="text-align: center;">Home page</h1>
    <div class="container text-center">
        <div class="btn-group-vertical w-50 btn-group-lg">
            <button type="button" class="btn btn-primary btn_lg btn-block" style="margin-bottom: 10px; border-radius: 10px !important;" onclick="location.href='http://127.0.0.1:8000/get/new/';" >Get new</button>
            <button type="button" class="btn btn-primary btn_lg btn-block" style="margin-bottom: 10px; border-radius: 10px !important;" onclick="location.href='http://127.0.0.1:8000/get/critical/';" >Get critical</button>
            <button type="button" class="btn btn-primary btn_lg btn-block" style="margin-bottom: 10px; border-radius: 10px !important;" onclick="location.href='http://127.0.0.1:8000/get/all/';"> Get all</button>
        </div>
    </div>
</body>
</html>